<style>
    .category-list ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-weight: 200 !important;
    }
</style>

<div class="category-list">
    <ul>
        {% for category in page_content %}
        <li class="clickable w-100">
            <a href="/{{category.name}}" class="unset-a">
                <h2 class="display-5 menu-box-h1">

                    {{ category.name }} <i class="fa-solid fa-arrow-right menu-icon"></i>

                </h2>
            </a>
        </li>
        {% endfor %}
        {% with name="github", href="https://github.com/thearyadev"%}
            {% include "fragments/external_link.html" %}
        {% endwith %}

        {% with name="twitter", href="https://twitter.com/kothari_aryan"%}
            {% include "fragments/external_link.html" %}
        {% endwith %}
    </ul>
</div>