<style>
    .category-list ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-weight: 200 !important;
    }
</style>

<div class="category-list">
    <ul>
        {% for category in page_content %}
        <li class="clickable w-100">
            <h2 class="display-5 menu-box-h1">
                <a href="/{{category.name}}" class="unset-a">
                    {{ category.name }} <i class="fa-solid fa-arrow-right menu-icon" ></i>
                </a>
            </h2>
        </li>
        {% endfor %}
        <li class="clickable w-100">
            <h2 class="display-5 menu-box-h1" >
                <a href="https://github.com/thearyadev" class="unset-a">
                    github <i class="fa-solid fa-arrow-up-right-from-square menu-icon" ></i>
            </h2>
        </li>
    </ul>
</div>