{% extends "layout.html" %}

{% block content %}


<div class="container pt-5">
    <div class="row flex-column flex-sm-row align-items-start">
        <div class="col-sm-8">
            <p id="index-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum.
            </p>
        </div>
        <div class="col-sm-4">
            {% include "category/list.html" %}
        </div>
    </div>
</div>

<script>
    const indexContent = document.getElementById("index-content");
    const words = indexContent.innerText.split(" ");
    indexContent.innerText = "";

    words.forEach(word => {
        const span = document.createElement("span");
        span.textContent = word + " ";
        span.classList.add("clickable");
        span.style.margin = "0";
        span.style.padding = "0";
        indexContent.appendChild(span);
    })
</script>



{% endblock %}